* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

ul,
ol,
li {
  list-style: none;
}

.example {
  color: #fff;
  text-align: center;
}

/* Não permite setar a largura, altura e margin com display inline */
.example-item {
  display: inline;
  /* height: 250px;
  width: 350px; */
}

.example-item_first {
  background-color: #faa116;
}

.example-item_second {
  background-color: #57c7c3;
  /* margin-left: auto;
  margin-right: auto; */
}

.example-item_third {
  background-color: #3897d3;
}
