.flex {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  background-color: antiquewhite;
  margin: 50px 20px;
  gap: 20px;
}

.item {
  padding: 25px;
  background-color: blue;
  border: 3px solid greenyellow;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
}
