.flex {
  display: flex;
  flex-direction: row-reverse;
  border: 3px solid black;
  background-color: antiquewhite;
  margin: 50px 20px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.item {
  padding: 25px;
  background-color: darkcyan;
  border: 4px solid greenyellow;
  margin: 0;
  font-weight: 800;
  font-size: 25px;
}

.center {
  align-self: center;
  order: 2;
}

.start {
  align-self: flex-start;
  flex-grow: 1;
  order: 0;
}

.second {
  order: 5;
}

.end {
  align-self: flex-end;
  flex-grow: 2;
  order: 1;
}

.stretch {
  align-self: stretch;
  order: 4;
}
